body, .jumbotron { padding: 30px; }
.text-giant      { font-size: 40px; }
.btn-crazy       {
  position: absolute;
  top: 30px;
  left: 35%;
  width: 40%;
  transition: 0.5s ease all;
  text-align: center;
}